@px: (100 / 3240) * 1vw;


.number-blocks {
    position: fixed;
    display: flex;
    justify-content:  center;
    font-weight: lighter;
    top: 430 * @px;
    left: 10vw;
    right: 10vw;
    text-align: center;
    transform: translate(0, 120 * @px);
    color: white;

    .block {
        transition: 3.5s all ease;
        // flex-grow: 1;
        min-width: 15vw;
        opacity: 0;
        filter: blur(10px);
        transform: translate(0, 30 * @px);
        background: rgba(255,255,255,0.0);
        padding-bottom: 10*@px;
        margin: 0 20 * @px;
        font-family: 'DIN';
        font-kerning: normal;
        letter-spacing: 5 * @px;
        font-size: 70 * @px;
        text-shadow: 0.01vw 0.07vw #9c9c9c;

        span {
            vertical-align: middle;
            // background: red;
        }
        
        .block-title {
            letter-spacing: 9 * @px;
            font-kerning: normal;
            text-shadow: none;
            font-family: 'DIN', 'PingFang SC';
            font-weight: bold;
            font-size: 17 * @px;
            opacity: 0.5;
        }
    }
}

.number-blocks.show {
    .block {
        opacity: 1;
        filter: blur(0px);
        transform: translate(0, 0);
        background: rgba(255,255,255,0.01);
    }
}


.gui-title.show > span {
    margin-left: 40 * @px;
    margin-right: 40 * @px;
    transition: all 4.0s ease;
    background-position: 0% 0%;
    filter: blur(0px);
}

.gui-title.destroy > span {
    margin-left: 50 * @px;
    margin-right: 50 * @px;
    transition: all 1.5s ease;
    background-position: 100% 100%;
    filter: blur(10px);
}

.gui-title {
    position: fixed;
    font-weight: bolder;
    top: 300 * @px;
    left: 0;
    right: 0;
    text-align: center;
    // transform: translate(0, -60%);

    span {
        transition: all 2.5s ease;
        // transition: all 0.02s linear;
        font-weight: bolder;
        font-family: 'Source Han Sans CN';
        font-kerning: normal;
        margin-left: 10 * @px;
        margin-right: 10 * @px;
        text-align: left;
        font-size: 150 * @px;
        display: inline-block;
        background: linear-gradient(150deg, #FFF 25%, rgba(255,255,255,0) 50%);
        background-size: 200% auto;
        background-position: 100% 100%;
        filter: blur(10px);
        color: #000;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}


.avatar-floaters {
    position: fixed;
    top: 0;
    left: 0;
}


.avatar-floater.show {
    opacity: 1;
    transition: 0.2s all ease;
}


.avatar-floater {
    transition: 0s all ease;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .avatar {
        display: inline-block;
        border: 3 * @px solid white;
        box-shadow: 8px 5px 20px #00000070;
        img {
            height: 40*@px;
            width:  40*@px;
            display: block;
        }
    }
    .scaler {
        cursor: pointer;
    }
    position: fixed;
    // margin: 3* @px;
    .at {
        display: inline-block;
        vertical-align: middle;
        color: #1796df;
        background: white;
        font-weight: bolder;
        position: relative;
        padding-left: 16 * @px;
        padding-right: 16 * @px;
        padding-top: 2.2 * @px;
        padding-bottom: 2 * @px;
        left: -13 * @px;
        font-size: 9 * @px;
    }
    .content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 7 * @px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        display: block;
        max-width: 300 * @px;
        padding-left: 16 * @px;
        padding-right: 16 * @px;
        padding-top: 10 * @px;
        padding-bottom: 15 * @px;
        position: relative;
        top: -5 * @px;
        z-index: -10;
        left: 0 * @px;
    }
}


.weibo-floaters {
    position: fixed;
    top: 0;
    left: 0;
    visibility: collapse;

    div:nth-child(2) {
        .scaler:before {
            animation: 0.5s blink infinite;
        }
    }
    div:nth-child(3) {
        .scaler:before {
            animation: 0.2s blink infinite;
        }
    }
    div:nth-child(4) {
        .scaler:before {
            animation: 0.6s blink infinite;
        }
    }
    div:nth-child(5) {
        .scaler:before {
            animation: 1.2s blink infinite;
        }
    }
}

.weibo-floaters.show {
    visibility: visible;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

.weibo-floater.show {
    opacity: 0.8;
    transition: 0.5s opacity ease;
}


.weibo-floater {
    opacity: 0;
    transition: 0s opacity ease;
    user-select: none;
    font-size: 6 * @px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .scaler {
        border: 1 * @px solid white;
        cursor: pointer;
        white-space: nowrap;
        position: relative;
        top: 10 * @px;
        left: 10 * @px;
    }
    .scaler:before {
        animation: 1s blink infinite;
        border: 2 * @px solid white;
        transform: rotate(45deg);
        display: block;
        content: " ";
        position: absolute;
        top: -17 * @px;
        left: -17 * @px;
        height: 10 * @px;
        width: 10 * @px;
    }
    position: fixed;
    // margin: 3* @px;
    .at {
        background: white;
        display: inline-block;
        vertical-align: middle;
        color: black;
        font-weight: bolder;
        padding-top: 3 * @px;
        padding-bottom: 3 * @px;
        padding-right: 3 * @px;
        padding-left: 3 * @px;
    }
    .content {
        color: white;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        text-overflow: ellipsis;
        max-width: 100 * @px;
        white-space: nowrap;
    }
}




.explainer {

    .edge-tri {
        opacity: 0;
    }
    transition: 1.5s transform ease;
    position: fixed;
    max-width: 18vw;
    top: 0;
    left: 0;
    line-height: 2;
    font-size: 0.65vw;
    font-family: 'PingFang SC';
    padding: 0.5vw 1.2vw;
    font-weight: bold;
    letter-spacing: 0.05vw;
    .subtitle {
        color: white;padding: 0;font-size: 0.9em;opacity: 0.5;padding-bottom: 0.2vw;font-weight: bolder;
    }
    .typer {
        position: relative;background: white;color: black; -webkit-box-decoration-break: clone;padding: 0.3vw;font-weight: lighter;line-height: 2.1vw;box-shadow: 0px 0px 0px #616161;
    }

    &.show {
        transform: translateY(-1vw);

        .edge-tri {
            opacity: 1;
        }
    }
    
}




.animate-block {
    overflow: hidden;
}


@keyframes superblink {
    0% {
        background: #fff;
    }
    50% {
        background: #000;
    }
    100% {
        background: #fff;
    }
}

@keyframes hover-v {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -0.3vw);
    }
    100% {
        transform: translate(0, 0);
    }
}

.hover-v {
    animation: hover-v 5s ease infinite;
}

.animate-block:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: superblink 0.3s 0.5s infinite;
    transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.animate-block.show:after,
.animate-block:hover:after {
    transform: translate3d(110%, 0, 0) translate3d(-1px, 0, 0);
}

.animate-block .wrapper {
    transition: visibility 0.2s 0.2s;
    visibility: collapse;
}

.animate-block.show .wrapper,
.animate-block:hover .wrapper {
    transition: visibility 0.4s 0.4s;
    visibility: visible;
}

.edge-tri {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5vw 0.5vw 0 0;
    border-color: #ffffff transparent transparent transparent;
}


@keyframes flashylarge{
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) rotate(45deg) scale(2);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
}

.chooser {

    opacity: 0;
    transition: opacity 0.5s ease;
    position: fixed;
    top: 10vw;
    left: 40vw;

    .flashy-large {
        animation: flashylarge 1.5s infinite;
        position: absolute;
        background: transparent;
        border: 0.1vw solid  white;   
        height: 0.7vw;
        width: 0.7vw;
        transform: translate(-50%, -50%) rotate(45deg) scale(2.2);
    }

    .flashy-tiny {
        position: absolute;
        background: rgba(255, 255, 255, 0.13);
        height: 0.5vw;
        width: 0.5vw;
        border: 0.1vw solid  white;           
        transform: translate(-50%, -50%) rotate(45deg) scale(1.0);
    }

    .chooser-title {
        font-size: 0.6vw;
        color: #ffffff;
        position: absolute;
        background: #8a8a8a21;
        font-family: PingFang SC;
        font-weight: bolder;
        padding: 0.1vw 0.9vw;
        vertical-align: middle;
        border: 0.01vw solid #bababa;
        white-space: nowrap;
        transform: translate(1vw,-50%);
        opacity: 1;
    }
    .weibo-user {
        position: relative;
        top: 1.5vw;
        .wrapper {
            text-align: center;
            height: auto;
            width: auto;
            background:linear-gradient(-30deg, rgba(0, 0, 0, 0.05) 0, rgba(82, 82, 82, 0.95) 50%);
        }

        .avatar {
            display: inline-block;
            margin-bottom: 0.7vw;
            position: relative;
            margin-top: 0.7vw;

            img {
                height: 4vw;
                width: 4vw;
                box-shadow: 4px 5px 17px rgba(0, 0, 0, 0.16);
            }

            .V {
                position: absolute;
                font-family: PINGFANG SC;
                font-size: 0.2vw;
                border-radius: 1000000px;
                right: 0;
                font-weight: bolder;
                border: 0;
                transform: translate(30%,-50%);
                color: white;
                padding: 0.13vw 0.23vw 0.05vw 0.23vw;

                &:blue {
                    background: #0091ff;
                }
                &:yellow {
                    background: #ff9900;
                }
                &:red {
                    background: rgb(223, 34, 13);
                }
            }
        }

        .intro {
            font-size: 0.3vw;
            font-family: PingFang SC;
            font-weight: lighter;
            color: #ffffff;
            opacity: 0.7;
            padding: 0vw 0.5vw;
            display: block;
        }

        .fans {
            color: #ffffff;
            font-family: Din, PingFang SC;
            position: relative;
            left: 0;
            font-weight: bolder;
            white-space: nowrap;
            padding-bottom: 0.1vw;
            background: #2f2f2f;
            margin-top: 0.4vw;

            >div:first-of-type {
                font-size: 1vw;
                white-space: nowrap;
            }

            >div:last-of-type {
                
            }
        }
    }
}

.chooser.show {
    opacity: 1;
}